// Shades of black to white
$twenty-five: rgb(25, 25, 25);
$fifty: rgb(50, 50, 50);
$seventy-five: rgb(75, 75, 75);
$one-hundred: rgb(100, 100, 100);
$one-twenty-five: rgb(125, 125, 125);
$one-fifty: rgb(150, 150, 150);
$two-hundred: rgb(200, 200, 200);

// Shades of Orange
$orange: rgb(214, 113, 45);
$orange-active: rgb(239, 138, 70);

// Mobile Responsive
$screen-iphone6: 667px;


// Start of SASS 
html {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $twenty-five;

    body {
        width: 100vw;
        // background: pink;

        h1 {
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $one-hundred;
        }

        .calculator-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .row {
                width: 350px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                // background: yellow;

                // Mobile responsiveness to work with a smaller screen 
                @media (max-width: #{$screen-iphone6}) {
                    margin: -10px;
                    width: 300px;
                }
                
                .data{
                    margin: 10px 5px 10px 5px;
                    width: 100px;
                    height: 75px;
                    border-radius: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // background: green;
                    font-size: 1.8em;
                    font-family: Helvetica;
                    color: $two-hundred;
                    background: $fifty;
                    border: none;

                    @media (max-width: #{$screen-iphone6}) {
                        width: 75px;
                        height: 60px; 
                    }
                }
                .data:active {
                    background: $seventy-five;
                }

                .data-one {
                    color: $twenty-five;
                    background: $one-twenty-five;
    
                }

                .data-one:active {
                    background: $one-fifty;
                }

                .operator, .equals{
                    background: $orange;
                }
    
                .operator:active, .equals:active {
                    background: $orange-active;
                }
                
                .divide{
                    color: $two-hundred;
                }
            }

            .row-one {

                .data-output {
                    padding-right: 10px;
                    width: 100vw;
                    border-radius: 10px;
                    display: flex;
                    justify-content: flex-end;
                    font-size: 2.8em;
                }
            }

            .row-six {

                .zero {
                    width: 225px;

                    @media (max-width: #{$screen-iphone6}) {
                        width: 160px;
                    }
                }
            }
        }

    }
}