$background-one: white;
$background-two : rgb(125, 125, 125);
$background-three: rgb(25, 25, 25);
$screen-iphone6: 667px;


html {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $background-three;

    body {
        width: 100vw;
        // background: pink;

        h1 {
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(100, 100, 100);
        }

        table {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            tr {
                width: 350px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                // background: yellow;

                // Mobile responsiveness to work with a smaller screen 
                @media (max-width: #{$screen-iphone6}) {
                    margin: -10px;
                    width: 300px;
                }
                
                td{
                    margin: 10px 5px 10px 5px;
                    width: 100px;
                    height: 75px;
                    border-radius: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // background: green;
                    font-size: 1.8em;
                    font-family: Helvetica;
                    color: rgb(200, 200, 200);
                    background: rgb(50, 50, 50);

                    @media (max-width: #{$screen-iphone6}) {
                        width: 75px;
                        height: 60px; 
                    }
                }
                td:active {
                    background: rgb(75, 75, 75);;
                }

            }

                .row-one {

                    .data-output {
                        padding-right: 10px;
                        width: 100vw;
                        border-radius: 10px;
                        display: flex;
                        justify-content: flex-end;
                        font-size: 2.8em;
                    }
                }

                .data-one {
                    background: rgb(125, 125, 125);
                }

                .data-one:active {
                    background: rgb(150, 150, 150);
                }

                .operator{
                    background: rgb(214, 113, 45);
                }

                .operator:active {
                    background: rgb(239, 138, 70);
                }

                #equals {
                    background: rgb(214, 113, 45);
                }

                #equals:active {
                    background: rgb(239, 138, 70);
                }

                .row-six {

                    #zero {
                        width: 225px;

                        @media (max-width: #{$screen-iphone6}) {
                            width: 160px;
                        }
                    }
                }
        }

    }
}